[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
networkx = "*"
requests = "*"
flake8 = "*"
blockchain = "*"
jupyter = "*"
bs4 = "*"

[requires]
python_version = "3.7"
